<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Esperance</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-card>
      <ion-card-content>
        <div class="info-section">
          <ion-text class="info-p">
            Cette version intermédiaire introduit les premiers calculs d’espérance mathématique, pour le grand et le petit seulement.
          </ion-text>
        </div>

        <div class="info-section">
          <ion-text class="info-p">
            L’espérance mathématique tient compte de la probabilité d’un événement mais aussi du gain associé à cet événement. 
            Elle permet donc, en théorie, de prendre les meilleures décisions pour espérer un gain maximal. 
          </ion-text>
        </div>

        <div class="info-section">
          <ion-text class="info-title"><h2>Avertissement</h2></ion-text>
          <ion-text class="info-p">
            Les calculs de probabilités et d’espérances effectués dans cette application se basent sur des cartes aléatoires. 
            Ils donnent une bonne idée de ce que vous pouvez espérer faire avec vos cartes.<br>Mais lorsqu’un adversaire lance un pari, on peut 
            supposer que ses cartes sont bonnes (à moins que ce soit du bluff) et donc qu’il faut tenir avec plus de prudence que ce que 
            l’application conseille. A partir de là, c’est de la psychologie plus que des mathématiques, mais il est toujours bon de connaître la valeur de sa main.<br>
            Mais s’il fait son pari sans regarder ses cartes (biak imido direct par exemple) ou qu’il est contraint d’emporter le pari pour ne pas vous laisser 
            gagner, l’aléatoire et les calculs reprennent leurs droits. 
          </ion-text>
        </div>

        <div class="info-section">
          <ion-text class="info-p">
            <ion-text class="info-title"><h2>L’option « mon adversaire n’a pas mieux que moi »</h2></ion-text>
            </ion-text>
          <ion-text class="info-p">
            Nouveauté intéressante dans cette version, lorsque votre probabilité de gain est supérieure à 20%, vous pouvez cocher la case 😭😉qui apparait dans 
            le détail des résultats.<br>J’hésite à tenir au grand avec roi-7.<br>L’application me dit que j’ai 45,67% de chances de gagner mais je peux ajouter les 18,54%
             de chances de mon partenaire, ce qui fait 64,21% de chances pour notre équipe de l’emporter.<br>Mais souvent, on ne prend pas cette décision seul et, si le
              partenaire a mieux, c’est lui qui décide de tenir ou de faire monter la mise.<br>Si l’on a un dialogue du type « roi-7 », « pas mieux » on le traduit en 
              cochant la case. On voit alors que le partenaire ne gagne plus et que notre probabilité réelle est de 58,09%, meilleure qu’au départ mais moins bonne 
              que pour l’équipe. 
          </ion-text>
          <img class="help-img" src="assets/esperance/esperance12.jpg" alt="Coche partenaire">
        </div>

        <div class="info-section">
          <ion-text class="info-p">
            On peut alors, avec ou sans cette information, lancer le...
          </ion-text>
          <ion-text class="info-title"><h2>calcul de l’espérance🙏</h2></ion-text>
          <img class="help-img" src="assets/esperance/esperance34.jpg" alt="Calcul esperance">

          <ion-text class="info-p">
            Ici, dans les 2 cas, il est préférable de tenir.<br>Même si l’espérance de tenir était négative, il serait conseillé de tenir tant que cette espérance est 
            supérieure à celle de laisser.<br>
          </ion-text>
        </div>

        <div class="info-section">
          <ion-text class="info-p">
            <strong>Remarques</strong><br>
            <ul class="info-bullets">
              <li>On peut modifier les valeurs avec les touches bleues pour obtenir l’espérance associée au pari engagé.<br></li>
              <li>La probabilité de gagner est légèrement supérieure à la somme de la nôtre et de celle de notre partenaire car on ajoute la moitié des cas d’égalité 
              (dépend du joueur esku).</li>
            </ul>
          </ion-text>

        </div>

        

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="footer-actions">
      <ion-button expand="block" (click)="back()">
        Retour
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>